<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameObject</key>
	<dict>
		<key>id</key>
		<string>objectId</string>
		<key>name</key>
		<string>objectName</string>
		<key>type</key>
		<integer>1</integer>
		<key>parentId</key>
		<string>parentId</string>
		<key>alwaysActive</key>
		<false/>
	</dict>
	<key>physicsGameObject</key>
	<dict>
		<key>id</key>
		<string>objectId</string>
		<key>name</key>
		<string>objectName</string>
		<key>type</key>
		<integer>1</integer>
		<key>parentId</key>
		<string>parentId</string>
		<key>alwaysActive</key>
		<false/>
		<key>position</key>
		<string>{14,19}</string>
		<key>size</key>
		<string>{20,20}</string>
		<key>anchorPoint</key>
		<string>{0.5,0.0}</string>
	</dict>
	<key>graphicalGameObject</key>
	<dict>
		<key>id</key>
		<string>objectId</string>
		<key>name</key>
		<string>objectName</string>
		<key>type</key>
		<integer>1</integer>
		<key>parentId</key>
		<string>parentId</string>
		<key>alwaysActive</key>
		<false/>
		<key>position</key>
		<string>{14,19}</string>
		<key>size</key>
		<string>{20,20}</string>
		<key>anchorPoint</key>
		<string>{0.5,0.0}</string>
		<key>parameters</key>
		<dict>
			<key>vertexZ</key>
			<real>1.4</real>
			<key>zOrder</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>backgroundGameObject</key>
	<dict>
		<key>id</key>
		<string>objectId</string>
		<key>name</key>
		<string>objectName</string>
		<key>type</key>
		<integer>1</integer>
		<key>parentId</key>
		<string>parentId</string>
		<key>alwaysActive</key>
		<false/>
		<key>position</key>
		<string>{14,19}</string>
		<key>size</key>
		<string>{20,20}</string>
		<key>anchorPoint</key>
		<string>{0.5,0.0}</string>
		<key>parameters</key>
		<dict>
			<key>image</key>
			<string>sampleBackgroundFileName.png</string>
			<key>vertexZ</key>
			<real>1.4</real>
			<key>zOrder</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>gameLayer</key>
	<dict>
		<key>id</key>
		<string>layerId</string>
		<key>name</key>
		<string>layerName</string>
		<key>type</key>
		<integer>2</integer>
		<key>alwaysActive</key>
		<false/>
	</dict>
	<key>module1</key>
	<dict>
		<key>class</key>
		<string>baseModuleName</string>
		<key>id</key>
		<string>moduleId1</string>
	</dict>
	<key>module2</key>
	<dict>
		<key>class</key>
		<string>baseModuleName2</string>
		<key>id</key>
		<string>moduleId#</string>
	</dict>
	<key>commonGameObject</key>
	<dict>
		<key>id</key>
		<string>objectId</string>
		<key>name</key>
		<string>objectName</string>
		<key>type</key>
		<integer>1</integer>
		<key>parentId</key>
		<string>parentId</string>
		<key>alwaysActive</key>
		<false/>
		<key>position</key>
		<string>{14,19}</string>
		<key>size</key>
		<string>{20,20}</string>
		<key>anchorPoint</key>
		<string>{0.5,0.0}</string>
		<key>parameters</key>
		<dict>
			<key>vertexZ</key>
			<real>1.4</real>
			<key>zOrder</key>
			<integer>1</integer>
			<key>modules</key>
			<dict>
				<key>KJModule1</key>
				<dict>
					<key>class</key>
					<string>KJModule</string>
					<key>id</key>
					<string>kjModule#</string>
				</dict>
				<key>KJModule2</key>
				<dict>
					<key>class</key>
					<string>KJModule</string>
					<key>id</key>
					<string>kjModule#</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
