<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationSet1</key>
	<dict>
		<key>parts</key>
		<dict>
			<key>part1</key>
			<dict>
				<key>animations</key>
				<dict>
					<key>default</key>
					<dict>
						<key>currentPosition</key>
						<string>0</string>
						<key>duration</key>
						<integer>1</integer>
						<key>keyFrames</key>
						<array>
							<dict>
								<key>timePoint</key>
								<string>0.0</string>
								<key>frame</key>
								<string>part1_default_1.png</string>
								<key>position</key>
								<string>{0, 0}</string>
								<key>rotation</key>
								<integer>0</integer>
								<key>scale</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>1.0</string>
								<key>frame</key>
								<string>part1_default_2.png</string>
								<key>position</key>
								<string>{5, 5}</string>
								<key>rotation</key>
								<integer>5</integer>
								<key>scale</key>
								<integer>2</integer>
							</dict>
						</array>
					</dict>
					<key>animation1</key>
					<dict>
						<key>currentPosition</key>
						<string>0</string>
						<key>duration</key>
						<integer>1</integer>
						<key>keyFrames</key>
						<array>
							<dict>
								<key>timePoint</key>
								<string>0.0</string>
								<key>frame</key>
								<string>part1_animation1_1.png</string>
								<key>position</key>
								<string>{0, 0}</string>
								<key>rotation</key>
								<integer>0</integer>
								<key>scale</key>
								<integer>1</integer>
								<key>flipX</key>
								<true/>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.5</string>
								<key>frame</key>
								<string>part1_animation1_2.png</string>
								<key>position</key>
								<string>{0, 0}</string>
								<key>rotation</key>
								<integer>2</integer>
								<key>scale</key>
								<integer>1</integer>
								<key>flipX</key>
								<true/>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>1</string>
								<key>frame</key>
								<string>part1_animation1_3.png</string>
								<key>position</key>
								<string>{0, 0}</string>
								<key>rotation</key>
								<integer>-2</integer>
								<key>scale</key>
								<integer>1</integer>
								<key>flipX</key>
								<true/>
							</dict>
						</array>
					</dict>
				</dict>
				<key>runningAnimation</key>
				<string>default</string>
				<key>vertexZ</key>
				<real>0.1</real>
			</dict>
			<key>part2</key>
			<dict>
				<key>animations</key>
				<dict>
					<key>default</key>
					<dict>
						<key>currentPosition</key>
						<string>0</string>
						<key>duration</key>
						<integer>1</integer>
						<key>keyFrames</key>
						<array>
							<dict>
								<key>timePoint</key>
								<string>0.0</string>
								<key>frame</key>
								<string>part2_default_1.png</string>
								<key>position</key>
								<string>{0, 0}</string>
								<key>rotation</key>
								<integer>0</integer>
								<key>scale</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>1.0</string>
								<key>frame</key>
								<string>part2_default_2.png</string>
								<key>position</key>
								<string>{-10, -10}</string>
								<key>rotation</key>
								<integer>-10</integer>
								<key>scale</key>
								<real>0.5</real>
							</dict>
						</array>
					</dict>
					<key>animation2</key>
					<dict>
						<key>currentPosition</key>
						<string>0</string>
						<key>duration</key>
						<real>0.8</real>
						<key>keyFrames</key>
						<array>
							<dict>
								<key>timePoint</key>
								<string>0.0</string>
								<key>frame</key>
								<string>part2_animation2_1.png</string>
								<key>position</key>
								<string>{0, 0}</string>
								<key>rotation</key>
								<integer>0</integer>
								<key>scale</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.1</string>
								<key>frame</key>
								<string>part2_animation2_2.png</string>
								<key>position</key>
								<string>{0, -5}</string>
								<key>rotation</key>
								<integer>5</integer>
								<key>scale</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.8</string>
								<key>frame</key>
								<string>part2_animation2_3.png</string>
								<key>position</key>
								<string>{0, 0}</string>
								<key>rotation</key>
								<integer>0</integer>
								<key>scale</key>
								<integer>1</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>runningAnimation</key>
				<string>default</string>
				<key>vertexZ</key>
				<real>0.11</real>
			</dict>
		</dict>
		<key>primaryPart</key>
		<string>part1</string>
		<key>ignoreBatchNodeUpdate</key>
		<true/>
	</dict>
</dict>
</plist>
