<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ObjectName</key>
	<dict>
		<key>Parts</key>
		<dict>
			<key>PartName1</key>
			<dict>
				<key>Animations</key>
				<dict>
					<key>AnimationName1</key>
					<dict>
						<key>currentPosition</key>
						<string>0</string>
						<key>duration</key>
						<integer>1</integer>
						<key>keyFrames</key>
						<array>
							<dict>
								<key>timePoint</key>
								<string>0.0</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<integer>0</integer>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.2</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.5</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.75</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>1.0</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
						</array>
					</dict>
					<key>AnimationName2</key>
					<dict>
						<key>currentPosition</key>
						<string>0</string>
						<key>duration</key>
						<integer>1</integer>
						<key>keyFrames</key>
						<array>
							<dict>
								<key>timePoint</key>
								<string>0.0</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<integer>0</integer>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.2</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.5</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.75</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>1.0</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>RunningAnimation</key>
				<string>Animation1</string>
			</dict>
			<key>PartName2</key>
			<dict>
				<key>Animations</key>
				<dict>
					<key>AnimationName1</key>
					<dict>
						<key>currentPosition</key>
						<string>0</string>
						<key>duration</key>
						<integer>1</integer>
						<key>keyFrames</key>
						<array>
							<dict>
								<key>timePoint</key>
								<string>0.0</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<integer>0</integer>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.2</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.5</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.75</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>1.0</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
						</array>
					</dict>
					<key>AnimationName2</key>
					<dict>
						<key>currentPosition</key>
						<string>0</string>
						<key>duration</key>
						<integer>1</integer>
						<key>keyFrames</key>
						<array>
							<dict>
								<key>timePoint</key>
								<string>0.0</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<integer>0</integer>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.2</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.5</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>0.75</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>timePoint</key>
								<string>1.0</string>
								<key>frame</key>
								<string>spriteFrame.png</string>
								<key>position</key>
								<string>{relX, relY}</string>
								<key>rotation</key>
								<real>0</real>
								<key>scale</key>
								<integer>0</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>RunningAnimation</key>
				<string>Animation1</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
